@import url('https://fonts.googleapis.com/css?family=Raleway');

body{background: url(../images/bg-body.png);font-family: 'Raleway', sans-serif;}
a{display: inline-block;
text-decoration: none;}
ul{list-style: none;
margin: 0;
padding: 0;}
.main-nav a {
  display: block;

  color: black;
  text-align: center;
  padding: 10px 0;
  border-bottom: solid 1px white;


}



*{box-sizing: border-box;}

img{width:65%;height: 65%;margin-left: 12%;margin-top: 10%}


h2{display: block;margin-top:7%;margin-bottom: 0}
p{margin-bottom: 1.5%;margin-right: 2%;margin-top: 15%}




.card-image{display: flex;
flex-direction: column;}


.card-data{display: flex;
flex-direction: column;margin-top: 2%;

}
.card{display: flex;
align-items: stretch;
width:29%;border-radius: 5%;background-color: white;margin:2%;height: 30vh;position: relative}
i{color:#508fb8 ;font-size: 2.5em;margin:30%;}

.card-data a{text-decoration: none;
;background-color:#c7c7c7 ;
opacity: 0.8;
color:white;display: block;
width: 35%;font-size: 1em;height: 13%;text-align: center;list-style: none;line-height: 35px}
ul{list-style: none}
.container{display: flex;flex-wrap: wrap;}
span{display: none}
li{margin-top: 0.5%;}

button{width: 80%;position: relative;left: 10%}


@media(max-width: 600px){
  .card{display: flex;
  align-items: stretch;
  width:100%;border-radius: 5%;background-color: white;margin:2%;height: 30vh}

}



@media(min-width: 600px){
  .card{display: flex;
  align-items: stretch;
  width:45%;border-radius: 5%;background-color: white;margin:2%;height: 30vh}

  }


@media(min-width: 900px) {
  .card{display: flex;
  align-items: stretch;
  width:29%;border-radius: 5%;background-color: white;margin:2%;height: 30vh}

  }
.contacto{position: absolute;top:20%;left: 40%}
#enviar{width: 50%;position: absolute;left: 0
}
input{border-radius: 8%}

.special{
  position: absolute;
  top:-10%;
  right: 0;

  height: 50px;
  width: 50px;
}
ul li a {float: right;
  margin-right: -2%;position: relative;right: 13%;


width: 15%;}
ul{overflow: hidden;}
